<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="ibox-content">
			<form class="form-horizontal m-t" id="purchaseOrderForm" style="margin-top:20px;">
				<div class="row">
					<div class="form-group">
						<label class="col-sm-2 control-label">采购订单编号</label>
						<div class="col-sm-2">	
							<input id="code" name="code" autocomplete="off"  
								 class="form-control" type="text" >	</div>
						<label class="col-sm-2 control-label" id="oldCode" style="text-align: left;"></label>
						
						<label class="col-sm-2 control-label">供应商 </label>
						<div class="col-sm-2">	
							<input id="companyName" name="companyName" autocomplete="off"  readonly="readonly"
								onclick="openContractDelivers()"
								class="form-control" type="text" placeholder="==请选择==">	</div>
						<label class="col-sm-2 control-label" id="oldcontractDelivers" style="text-align: left;"></label>
 
						<!--
						onclick="change()"
						<div class="col-sm-2">
							<input id="contractDelivers" name="contractDelivers"class="form-control" type="text" 
								onclick="openContractDelivers()" readonly="readonly" placeholder="==请选择==">		
							<div class="col-sm-2"></div>
						</div>
						-->
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="col-sm-2 control-label" >发货单位</label>
						<div class="col-sm-2">	
							<input id="DeliverCompanyName" name="DeliverCompanyName" autocomplete="off" 
							onclick="openDeliverCompanyName()" readonly="readonly" placeholder="==请选择=="
								 class="form-control" type="text" >	
						</div>
						<label class="col-sm-2 control-label" id="oldDeliverCompanyName" style="text-align: left;"></label> 
						
						<label class="col-sm-2 control-label">采购计划编号</label>
						<div class="col-sm-2">	
							<input id="PurchasePlanCode" name="PurchasePlanCode" autocomplete="off" 
								 class="form-control" type="text" >	
						</div>
						<label class="col-sm-2 control-label" id="oldPurchasePlanCode" style="text-align: left;"></label> 
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="col-sm-2 control-label">意向协议(询比价报告单）编号</label>
						<div class="col-sm-2">	
							<input id="ContractCode" name="ContractCode" autocomplete="off" 
								 class="form-control" type="text" >	
						</div>
						<label class="col-sm-2 control-label" id="oldContractCode" style="text-align: left;"></label>
						<label class="col-sm-2 control-label">税率</label>
						<div class="col-sm-2" >					
							<select data-placeholder="请选择" name="taxRate" id="taxRate" 
								class="form-control chosen-select " tabindex="2">
								<option  value=""  >请选择</option>
							</select>
						</div>
						<label class="col-sm-2 control-label" id="oldtaxRate" style="text-align: left;"></label>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="col-sm-2 control-label">付款方式及期限</label>
						<div class="col-sm-2">	
							<input id="PaymentType" name="PaymentType" autocomplete="off" 
								 class="form-control" type="text" >	</div>
						<label class="col-sm-2 control-label" id="oldPaymentType" style="text-align: left;"></label>
						
						
						<label class="col-sm-2 control-label">交货地点</label>
						<div class="col-sm-2">	
							<input id="ArriveAddress" name="ArriveAddress" autocomplete="off" 
								 class="form-control" type="text" >	</div>
						<label class="col-sm-2 control-label" id="oldArriveAddress" style="text-align: left;"></label>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="col-sm-2 control-label">质量标准</label>
						<div class="col-sm-2">	
							<input id="QualityStandard" name="QualityStandard" autocomplete="off" 
								 class="form-control" type="text" >	</div>
						<label class="col-sm-2 control-label" id="oldQualityStandard" style="text-align: left;"></label>
					</div>		
				</div>
			</form>
			<form class="form-horizontal m-t" id="purchaseOrderForm" style="margin-top:20px;">	
				<div class="row">
					<div class="form-group">
						<div class="ibox float-e-margins">					
							<div class="columns pull-left col-md-4">
								<button type="button" class="btn btn-grid-add" onclick="deleteRow()">
									<i class="fa" aria-hidden="true"></i>删除
								</button>
								<button type="button" class="btn btn-success" onclick="selId()">查询</button>
							</div>
						</div>
					</div>
				</div>
				<div class="bills">
					<div class="center">
						<div class="gridPanel">
							<table id="purchaseOrderTable"></table>
						</div>
					</div>
				</div>	
				<div class="text-right form-group" >
					<div class="columns pull-right col-md-4">
						<button type="button" class="btn btn-success" id="saveBtn">
							<i class="fa" aria-hidden="true"></i>保存
						</button>
						<button type="button" class="btn btn-success" onclick="commitApply()"  id="commitApplyBtn">
							<i class="fa" aria-hidden="true"></i>提交审批
						</button>
						<button type="button" class="btn btn-success" onclick="cancelApply()">
							<i class="fa" aria-hidden="true"></i>撤回审批
						</button>
						<button type="button" class="btn btn-success" onclick="closeTabWin()">
							<i class="fa" aria-hidden="true"></i>关闭
						</button>
					</div>
				</div>
			</form>
		</div>			
	</div>
	<div th:include="include::footer"></div>
	<link rel="stylesheet" href="/css/plugins/jqgrid/ui.jqgrid.css" />
	<link rel="stylesheet" href="/css/plugins/jqgrid/redmond/jquery-ui-1.8.16.custom.css" />
	<script type="text/javascript" src="/js/plugins/jqgrid/jquery.jqGrid.src.js"></script>
	<script type="text/javascript" src="/js/appjs/material/purchaseOrder/changeTab.js"></script>
</body>
</html>
