<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="material:purchaseOrder:add" type="button" class="btn btn-success" onclick="add()">
								<i class="fa" aria-hidden="true"></i>新增
							</button>
							<button shiro:hasPermission="material:purchaseOrder:multiAdd" type="button" class="btn btn-success" onclick="multiAdd()">
								<i class="fa" aria-hidden="true"></i>批量新增
							</button>
							<button shiro:hasPermission="material:purchaseOrder:change" type="button" class="btn btn-success" onclick="change()">
								<i class="fa" aria-hidden="true"></i>变更
							</button>
							<button shiro:hasPermission="material:purchaseOrder:multiGodown" type="button" class="btn btn-success" onclick="multiGodown()">
								<i class="fa" aria-hidden="true"></i>批量下达
							</button>
							<button shiro:hasPermission="material:purchaseOrder:execute" type="button" class="btn btn-success" onclick="execute()">
								<i class="fa" aria-hidden="true"></i>执行
							</button>
							<button shiro:hasPermission="material:purchaseOrder:print" type="button" class="btn btn-success" onclick="print()">
								<i class="fa" aria-hidden="true"></i>打印
							</button>
							<button shiro:hasPermission="material:purchaseOrder:approve" type="button" class="btn btn-success" onclick="approve()">
								<i class="fa" aria-hidden="true"></i>提交审批
							</button>
							<button shiro:hasPermission="material:purchaseOrder:cancelApprove" type="button" class="btn btn-success" onclick="add()">
								<i class="fa" aria-hidden="true"></i>撤回审批
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right nopadding" style="width:140px;">
							<div class="input-group date" id="beginDate">
								<input id="start" class="form-control" type="text"
									   name="beginDate" style="width:100px"> <span
									class="input-group-addon"> <span
									class="glyphicon glyphicon-calendar"></span>
											</span>
							</div>
						</div>
						<div class="columns pull-right nopadding" style="width:20px;">&nbsp;至&nbsp;
						</div>
						<div class="columns pull-right nopadding"  style="width:140px;">
							<div class="input-group date" id="endDate">
								<input id="end" class="form-control" type="text"
									   name="endDate" style="width:100px"> <span
									class="input-group-addon"> <span
									class="glyphicon glyphicon-calendar"></span>
											</span>
							</div>
						</div>
						<div class="columns pull-right nopadding">
							<input id="searchName" type="text" class="form-control"
								   placeholder="请输入编号或名称"   style="width:140px;">

						</div>
					</div>
					<table id="purchaseOrder" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';//修改
				var s_remove_h = 'hidden';//删除
			</script>
		</div>
		<div shiro:hasPermission="material:purchaseOrder:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="material:purchaseOrder:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/material/purchaseOrder/purchaseOrder.js"></script>
</body>
</html>


