<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- <head th:include="include :: header"></head> -->
<link rel="stylesheet" href="/js/plugins/ueditor/themes/default/css/ueditor.css">

<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div>
						<div id="sde1" style="width:100%;margin:0 auto;  box-shadow: 0 0 0 1px #d1d1d1, 0 0 3px 1px #ccc;height:20%;">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript"
		src="/js/appjs/contract/ContractCreation/ContractCreation.js"></script>
<!-- 富文本js -->
	<script type="text/javascript" charset="utf-8" src="/js/plugins/js/modernizr/2.8.3/modernizr.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/plugins/sde.config.js"></script>

	<script type="text/javascript" src="/js/plugins/ueditor/ueditor.all.min.js?_=1528990315106"></script>
	<script type="text/javascript" src="/js/plugins/ueditor/lang/zh-cn/zh-cn.js?_=1528990315106"></script>
	<script type="text/javascript" src="/js/plugins/js/sde-ie8-design.js?ba2b4d4610f330f6e1ad"></script>
<!-- 富文本js END -->
</body>
</html>


