<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.approval.dao.PurchaseDao">

	<select id="get" resultType="com.bootdo.approval.domain.PurchaseDO">
		select `Purchase_ID`,`Project_ID`,`Purchase_Dept`,`Purchase_Person`,
		date_format(Purchase_Date,'%Y-%m-%d') `Purchase_Date`,
		`Purchase_Name`,`Purchase_Brand`,`Purchase_Mode`,`Purchase_Config`,`Purchase_Unit`,`Purchase_Number`,`Purchase_Unit_Price`,`Purchase_Total_Price`,
		date_format(Purchase_Delivery_Time,'%Y-%m-%d') `Purchase_Delivery_Time`,
		`Purchase_Delivery_Place`,`Purchase_Consignee`,`Purchase_Phone_Number`,`Purchase_Remarks`,`Purchase_Approval_Status`,`Purchase_Operator`,`Purchase_Operate_Time`,`Purchase_Creator`,`Purchase_Create_Time` from approval_purchase where Purchase_ID = #{value}
	</select>

	<select id="list" resultType="com.bootdo.approval.domain.PurchaseDO">
		select `Purchase_ID`,
		`Purchase_Dept`,b.`Name`,
		a.`Purchase_Person`,c.`Employee_Name` as `Purchase_Person_Name`,
		`Purchase_Date`,`Purchase_Name`,`Purchase_Brand`,`Purchase_Mode`,`Purchase_Config`,`Purchase_Unit`,`Purchase_Number`,`Purchase_Unit_Price`,`Purchase_Total_Price`,`Purchase_Delivery_Time`,`Purchase_Delivery_Place`,`Purchase_Consignee`,`Purchase_Phone_Number`,`Purchase_Remarks`,`Purchase_Approval_Status`,`Purchase_Operator`,`Purchase_Operate_Time`,
		`Purchase_Creator`,e.`name`as Purchase_Operator_Name,
		`Purchase_Create_Time`,
		a.`Project_ID`,d.`Project_Name` as `Project_Name`  
		from approval_purchase a
		left join development_project d on a.`Project_ID`=d.`Project_ID`
        left join sys_dept b on a.`Purchase_Dept`=b.`Dept_ID`
        left join inner_org_employee c on a.`Purchase_Person`=c.`Employee_ID`
		left join sys_user e on a.`Purchase_Operator`=e.`user_id`
        <where>  
		  		  <if test="purchaseId != null and purchaseId != ''"> and Purchase_ID = #{purchaseId} </if>
		  		  <if test="projectId != null and projectId != ''"> and a.Project_ID = #{projectId} </if>
		  		  <if test="purchaseDept != null and purchaseDept != ''"> and Purchase_Dept = #{purchaseDept} </if>
		  		  <if test="purchasePerson != null and purchasePerson != ''"> and Purchase_Person = #{purchasePerson} </if>
		  		  <if test="purchaseDate != null and purchaseDate != ''"> and Purchase_Date = #{purchaseDate} </if>
		  		  <if test="purchaseName != null and purchaseName != ''"> and Purchase_Name = #{purchaseName} </if>
		  		  <if test="purchaseBrand != null and purchaseBrand != ''"> and Purchase_Brand = #{purchaseBrand} </if>
		  		  <if test="purchaseMode != null and purchaseMode != ''"> and Purchase_Mode = #{purchaseMode} </if>
		  		  <if test="purchaseConfig != null and purchaseConfig != ''"> and Purchase_Config = #{purchaseConfig} </if>
		  		  <if test="purchaseUnit != null and purchaseUnit != ''"> and Purchase_Unit = #{purchaseUnit} </if>
		  		  <if test="purchaseNumber != null and purchaseNumber != ''"> and Purchase_Number = #{purchaseNumber} </if>
		  		  <if test="purchaseUnitPrice != null and purchaseUnitPrice != ''"> and Purchase_Unit_Price = #{purchaseUnitPrice} </if>
		  		  <if test="purchaseTotalPrice != null and purchaseTotalPrice != ''"> and Purchase_Total_Price = #{purchaseTotalPrice} </if>
		  		  <if test="purchaseDeliveryTime != null and purchaseDeliveryTime != ''"> and Purchase_Delivery_Time = #{purchaseDeliveryTime} </if>
		  		  <if test="purchaseDeliveryPlace != null and purchaseDeliveryPlace != ''"> and Purchase_Delivery_Place = #{purchaseDeliveryPlace} </if>
		  		  <if test="purchaseConsignee != null and purchaseConsignee != ''"> and Purchase_Consignee = #{purchaseConsignee} </if>
		  		  <if test="purchasePhoneNumber != null and purchasePhoneNumber != ''"> and Purchase_Phone_Number = #{purchasePhoneNumber} </if>
		  		  <if test="purchaseRemarks != null and purchaseRemarks != ''"> and Purchase_Remarks = #{purchaseRemarks} </if>
		  		  <if test="purchaseApprovalStatus != null and purchaseApprovalStatus != ''"> and Purchase_Approval_Status = #{purchaseApprovalStatus} </if>
		  		  <if test="purchaseOperator != null and purchaseOperator != ''"> and e.`name` LIKE #{purchaseOperator} </if>
		  		  <if test="purchaseOperateTime != null and purchaseOperateTime != ''"> and Purchase_Operate_Time = #{purchaseOperateTime} </if>
		  		  <if test="purchaseCreator != null and purchaseCreator != ''"> and Purchase_Creator = #{purchaseCreator} </if>
		  		  <if test="purchaseCreateTime != null and purchaseCreateTime != ''"> and Purchase_Create_Time = #{purchaseCreateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by Purchase_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*)
        from approval_purchase a
		left join development_project d on a.`Project_ID`=d.`Project_ID`
        left join sys_dept b on a.`Purchase_Dept`=b.`Dept_ID`
        left join inner_org_employee c on a.`Purchase_Person`=c.`Employee_ID`
		left join sys_user e on a.`Purchase_Operator`=e.`user_id`
		   <where>  
		  		  <if test="purchaseId != null and purchaseId != ''"> and Purchase_ID = #{purchaseId} </if>
		  		  <if test="projectId != null and projectId != ''"> and a.Project_ID = #{projectId} </if>
		  		  <if test="purchaseDept != null and purchaseDept != ''"> and Purchase_Dept = #{purchaseDept} </if>
		  		  <if test="purchasePerson != null and purchasePerson != ''"> and Purchase_Person = #{purchasePerson} </if>
		  		  <if test="purchaseDate != null and purchaseDate != ''"> and Purchase_Date = #{purchaseDate} </if>
		  		  <if test="purchaseName != null and purchaseName != ''"> and Purchase_Name = #{purchaseName} </if>
		  		  <if test="purchaseBrand != null and purchaseBrand != ''"> and Purchase_Brand = #{purchaseBrand} </if>
		  		  <if test="purchaseMode != null and purchaseMode != ''"> and Purchase_Mode = #{purchaseMode} </if>
		  		  <if test="purchaseConfig != null and purchaseConfig != ''"> and Purchase_Config = #{purchaseConfig} </if>
		  		  <if test="purchaseUnit != null and purchaseUnit != ''"> and Purchase_Unit = #{purchaseUnit} </if>
		  		  <if test="purchaseNumber != null and purchaseNumber != ''"> and Purchase_Number = #{purchaseNumber} </if>
		  		  <if test="purchaseUnitPrice != null and purchaseUnitPrice != ''"> and Purchase_Unit_Price = #{purchaseUnitPrice} </if>
		  		  <if test="purchaseTotalPrice != null and purchaseTotalPrice != ''"> and Purchase_Total_Price = #{purchaseTotalPrice} </if>
		  		  <if test="purchaseDeliveryTime != null and purchaseDeliveryTime != ''"> and Purchase_Delivery_Time = #{purchaseDeliveryTime} </if>
		  		  <if test="purchaseDeliveryPlace != null and purchaseDeliveryPlace != ''"> and Purchase_Delivery_Place = #{purchaseDeliveryPlace} </if>
		  		  <if test="purchaseConsignee != null and purchaseConsignee != ''"> and Purchase_Consignee = #{purchaseConsignee} </if>
		  		  <if test="purchasePhoneNumber != null and purchasePhoneNumber != ''"> and Purchase_Phone_Number = #{purchasePhoneNumber} </if>
		  		  <if test="purchaseRemarks != null and purchaseRemarks != ''"> and Purchase_Remarks = #{purchaseRemarks} </if>
		  		  <if test="purchaseApprovalStatus != null and purchaseApprovalStatus != ''"> and Purchase_Approval_Status = #{purchaseApprovalStatus} </if>
		  		  <if test="purchaseOperator != null and purchaseOperator != ''"> and e.`name` LIKE #{purchaseOperator} </if>
		  		  <if test="purchaseOperateTime != null and purchaseOperateTime != ''"> and Purchase_Operate_Time = #{purchaseOperateTime} </if>
		  		  <if test="purchaseCreator != null and purchaseCreator != ''"> and Purchase_Creator = #{purchaseCreator} </if>
		  		  <if test="purchaseCreateTime != null and purchaseCreateTime != ''"> and Purchase_Create_Time = #{purchaseCreateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.approval.domain.PurchaseDO" useGeneratedKeys="true" keyProperty="purchaseId">
		insert into approval_purchase
		(
			`Purchase_ID`, 
			`Project_ID`, 
			`Purchase_Dept`, 
			`Purchase_Person`, 
			`Purchase_Date`, 
			`Purchase_Name`, 
			`Purchase_Brand`, 
			`Purchase_Mode`, 
			`Purchase_Config`, 
			`Purchase_Unit`, 
			`Purchase_Number`, 
			`Purchase_Unit_Price`, 
			`Purchase_Total_Price`, 
			`Purchase_Delivery_Time`, 
			`Purchase_Delivery_Place`, 
			`Purchase_Consignee`, 
			`Purchase_Phone_Number`, 
			`Purchase_Remarks`, 
			`Purchase_Approval_Status`, 
			`Purchase_Operator`, 
			`Purchase_Operate_Time`, 
			`Purchase_Creator`, 
			`Purchase_Create_Time`
		)
		values
		(
			#{purchaseId}, 
			#{projectId}, 
			#{purchaseDept}, 
			#{purchasePerson}, 
			#{purchaseDate}, 
			#{purchaseName}, 
			#{purchaseBrand}, 
			#{purchaseMode}, 
			#{purchaseConfig}, 
			#{purchaseUnit}, 
			#{purchaseNumber}, 
			#{purchaseUnitPrice}, 
			#{purchaseTotalPrice}, 
			#{purchaseDeliveryTime}, 
			#{purchaseDeliveryPlace}, 
			#{purchaseConsignee}, 
			#{purchasePhoneNumber}, 
			#{purchaseRemarks}, 
			#{purchaseApprovalStatus}, 
			#{purchaseOperator}, 
			#{purchaseOperateTime}, 
			#{purchaseCreator}, 
			#{purchaseCreateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.approval.domain.PurchaseDO">
		update approval_purchase 
		<set>
			<if test="projectId != null">`Project_ID` = #{projectId}, </if>
			<if test="purchaseDept != null">`Purchase_Dept` = #{purchaseDept}, </if>
			<if test="purchasePerson != null">`Purchase_Person` = #{purchasePerson}, </if>
			<if test="purchaseDate != null">`Purchase_Date` = #{purchaseDate}, </if>
			<if test="purchaseName != null">`Purchase_Name` = #{purchaseName}, </if>
			<if test="purchaseBrand != null">`Purchase_Brand` = #{purchaseBrand}, </if>
			<if test="purchaseMode != null">`Purchase_Mode` = #{purchaseMode}, </if>
			<if test="purchaseConfig != null">`Purchase_Config` = #{purchaseConfig}, </if>
			<if test="purchaseUnit != null">`Purchase_Unit` = #{purchaseUnit}, </if>
			<if test="purchaseNumber != null">`Purchase_Number` = #{purchaseNumber}, </if>
			<if test="purchaseUnitPrice != null">`Purchase_Unit_Price` = #{purchaseUnitPrice}, </if>
			<if test="purchaseTotalPrice != null">`Purchase_Total_Price` = #{purchaseTotalPrice}, </if>
			<if test="purchaseDeliveryTime != null">`Purchase_Delivery_Time` = #{purchaseDeliveryTime}, </if>
			<if test="purchaseDeliveryPlace != null">`Purchase_Delivery_Place` = #{purchaseDeliveryPlace}, </if>
			<if test="purchaseConsignee != null">`Purchase_Consignee` = #{purchaseConsignee}, </if>
			<if test="purchasePhoneNumber != null">`Purchase_Phone_Number` = #{purchasePhoneNumber}, </if>
			<if test="purchaseRemarks != null">`Purchase_Remarks` = #{purchaseRemarks}, </if>
			<if test="purchaseApprovalStatus != null">`Purchase_Approval_Status` = #{purchaseApprovalStatus}, </if>
			<if test="purchaseOperator != null">`Purchase_Operator` = #{purchaseOperator}, </if>
			<if test="purchaseOperateTime != null">`Purchase_Operate_Time` = #{purchaseOperateTime}, </if>
			<if test="purchaseCreator != null">`Purchase_Creator` = #{purchaseCreator}, </if>
			<if test="purchaseCreateTime != null">`Purchase_Create_Time` = #{purchaseCreateTime}</if>
		</set>
		where Purchase_ID = #{purchaseId}
	</update>
	
	<delete id="remove">
		delete from approval_purchase where Purchase_ID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from approval_purchase where Purchase_ID in 
		<foreach item="purchaseId" collection="array" open="(" separator="," close=")">
			#{purchaseId}
		</foreach>
	</delete>

</mapper>