<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="panel panel-default">
        <div class="panel-heading">我的工作台</div>
    </div>
    <div class="col-sm-12">
        <div class="taskAndLog">
            <img class="taskAndLogPhoto" src="img/photo_s.jpg">
            asdas
        </div>
        <div class="taskAndLog">
            <img class="taskAndLogPhoto" src="img/photo_s.jpg">
            asd
        </div>
        <div class="taskAndLog">
            <img class="taskAndLogPhoto" src="img/photo_s.jpg">
            ddd
        </div>
    </div>
    <div class="col-sm-12">
        <div class="taskAndLogDescribe">
            <input readonly="readonly" type="text" class="DescribeInput" value="任务 （被委托）">
        </div>
        <div class="taskAndLogDescribe">
            <input readonly="readonly" type="text" class="DescribeInput" value="任务 （委托他人）">
        </div>
        <div class="taskAndLogDescribe">
            <input readonly="readonly" type="text" class="DescribeInput" value="我的工作日志（待填报的工作日志）">
        </div>
    </div>
</body>
</html>
