<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.ireport.dao.IreportDao">

	<select id="get" resultType="com.bootdo.ireport.domain.IreportDO">
		select `ireportid` from ireport where ireportid = #{value}
	</select>

	<select id="list" resultType="com.bootdo.ireport.domain.IreportDO">
		select `ireportid` from ireport
        <where>  
		  		  <if test="ireportid != null and ireportid != ''"> and ireportid = #{ireportid} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by ireportid desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from ireport
		 <where>  
		  		  <if test="ireportid != null and ireportid != ''"> and ireportid = #{ireportid} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.ireport.domain.IreportDO">
		insert into ireport
		(
			`ireportid`
		)
		values
		(
			#{ireportid}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.ireport.domain.IreportDO">
		update ireport 
		<set>
		</set>
		where ireportid = #{ireportid}
	</update>
	
	<delete id="remove">
		delete from ireport where ireportid = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from ireport where ireportid in 
		<foreach item="ireportid" collection="array" open="(" separator="," close=")">
			#{ireportid}
		</foreach>
	</delete>

</mapper>