<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<!--  <input id="Project_ID" name="Project_ID" th:value="${project.Project_ID}"  type="hidden">
						-->
						<input id="project" name="project" th:value="${projectId}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectName}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectRelatedId}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${customerId}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectOwner}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectManager}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectGategory}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectSales}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${deliveryStatus}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${ContractCenterratio}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectBeginDate}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectEndDate}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectPhase}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${fllowType}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectOldId}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${ifOutSource}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectDescription}" class="form-control" type="text" type="hidden">
						<input id="project" name="project" th:value="${projectRemarks}" class="form-control" type="text" type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">项目名称：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<input id="projectName" name="projectName" class="form-control" type="text">
								</div>
								<label class="col-sm-3 control-label">关联售前项目：</label>
								<div class="col-sm-3">
								    <select data-placeholder="请选择" name="projectRelatedId" id="projectRelatedId"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">请选择</option>  
									</select>
								</div>	
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">客户名称：<span class="mustin">*</span></label>
								<div class="col-sm-3">
								    <select data-placeholder="请选择" name="customerId" id="customerId"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">请选择</option>  
									</select>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">项目经理：<span class="mustin">*</span></label>
								<div class="col-sm-3">
								    <select data-placeholder="请选择" name="projectOwner" id="projectOwner"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">请选择</option>  
									</select>
								</div>
								<label class="col-sm-3 control-label">研发经理：<span class="mustin">*</span></label>
								<div class="col-sm-3">
								    <select data-placeholder="请选择" name="projectManager" id="projectManager"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">请选择</option>  
									</select>
								</div>
							</div>					
							<div class="form-group">	
								<label class="col-sm-3 control-label">项目类型：<span class="mustin">*</span></label>
								<div class="col-sm-3">
								    <select data-placeholder="请选择" name="projectGategory" id="projectGategory"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">请选择</option>  
									</select>
								</div>
								<label class="col-sm-3 control-label">销售负责人：<span class="mustin">*</span></label>
								<div class="col-sm-3">
								    <select data-placeholder="请选择" name="projectSales" id="projectSales"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">请选择</option>  
									</select>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">是否签订合同：<span class="mustin">*</span></label>
								<div class="col-sm-3">
								    <select data-placeholder="请选择" name="deliveryStatus" id="deliveryStatus"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">请选择</option>  
									</select>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">合同及中心占比：</label>
								<div class="col-sm-9">
									<input id="ContractCenterratio" name="ContractCenterratio" 
									 class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">项目开始时间：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<div class="input-group date" id="projectBeginDate">
							            <input class="form-control" type="text" name="projectBeginDate">
							            <span class="input-group-addon">
							               <span class="glyphicon glyphicon-calendar"></span>
							            </span>
							        </div>
								</div>
								<label class="col-sm-3 control-label">项目结束时间：<span class="mustin">*</span></label>
								<div class="col-sm-3">
							        <div class="input-group date" id="projectEndDate">
							            <input class="form-control" type="text" name="projectEndDate">
							            <span class="input-group-addon">
							               <span class="glyphicon glyphicon-calendar"></span>
							            </span>
							        </div>
							    </div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">项目阶段：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<input id="projectPhase" name="projectPhase" class="form-control" type="text">
								</div>	
								<label class="col-sm-3 control-label">流程种类：<span class="mustin">*</span></label>
								<div class="col-sm-3">
								    <select data-placeholder="请选择" name="fllowType" id="fllowType"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">请选择</option>  
									</select>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">旧项目编号：</label>
								<div class="col-sm-3">
									<input id="projectOldId" name="projectOldId" class="form-control" type="text">
								</div>
								<label class="col-sm-3 control-label">是否分包：<span class="mustin">*</span></label>
								<div class="col-sm-3">
								    <select data-placeholder="请选择" name="ifOutSource" id="ifOutSource"
									 class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">请选择</option>  
									</select>
								</div>
							</div>	
							<div class="form-group">	
								<label class="col-sm-3 control-label">项目描述：</label>
								<div class="col-sm-9">
								    <textarea id="projectDescription" name="projectDescription" 
								     class="form-control" rows="3"></textarea>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-9">
								<textarea id="projectRemarks" name="projectRemarks" 
								 class="form-control" rows="5"></textarea>
								</div>
							</div>
							<div class="form-group">	
							<label class="col-sm-3 control-label">部门名称：</label>
								<div class="col-sm-9">
									<div id="projectMenuTree"></div>
								</div>
							</div>		
							 <div class="form-group">
								 <div class="columns pull-right col-md-2">
										<button type="button" class="btn btn-danger" onclick="closeWin()">取消</button>
								   </div>
								   <div class="columns pull-right col-md-2">
										<button type="submit" class="btn btn-primary columns" >提交</button>
								</div>
							</div>				
							
								<!-- 				<div class="form-group">	
								<label class="col-sm-3 control-label">项目集合编号：</label>
								<div class="col-sm-8">
									<input id="collectionId" name="collectionId" th:value="${project.collectionId}" class="form-control" type="text">
								</div>
							</div>				
														<div class="form-group">	
								<label class="col-sm-3 control-label">研发开始时间：</label>
								<div class="col-sm-8">
									<input id="projectDevelopmentBeginDate" name="projectDevelopmentBeginDate" th:value="${project.projectDevelopmentBeginDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">研发结束时间：</label>
								<div class="col-sm-8">
									<input id="projectDevelopmentEndDate" name="projectDevelopmentEndDate" th:value="${project.projectDevelopmentEndDate}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">操作人：</label>
								<div class="col-sm-8">
									<input id="projectOperator" name="projectOperator" th:value="${project.projectOperator}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="projectOperateTime" name="projectOperateTime" th:value="${project.projectOperateTime}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建人：</label>
								<div class="col-sm-8">
									<input id="projectCreator" name="projectCreator" th:value="${project.projectCreator}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="projectCreateTime" name="projectCreateTime" th:value="${project.projectCreateTime}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div> -->		
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/project/project/edit.js">
	</script>
</body>
</html>
