<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<!-- 
		<form id="contractApprovalForm" name="contractApprovalForm" th:action="@{/payment/contractApproval/export}" method="get">
			<input type="hidden" name="contractName" /> 
			<input type="hidden" name="contractId" />
			<input type="hidden" name="projectId" /> 
			<input type="hidden" name="contractApplicantName" /> 
		</form> 
		-->
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<form class="form-horizontal m-t" id="signupForm">
					<div class="form-group">
						<label class="col-sm-2 control-label">合同名称：</label>
						<div class="col-sm-4">
							<input id="contractName" name="contractName" class="form-control"
								type="text">
						</div>
						<label class="col-sm-2 control-label">合同编号：</label>
						<div class="col-sm-4">
							<select data-placeholder="请选择" name="contractId" id="contractId"
								class="form-control chosen-select" tabindex="1"
								style="width: 100%">
								<option value="">全部</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">项目名称：</label>
						<div class="col-sm-4 ">
							<select data-placeholder="请选择" name="projectId" id="projectId"
								class="form-control chosen-select" tabindex="2"
								style="width: 100%">
								<option value="">全部</option>
							</select>
						</div>
						<label class="col-sm-2 control-label">申请人：</label>
						<div class="col-sm-4">
							<select data-placeholder="请选择" name="contractApplicantName"
								id="contractApplicantName" class="form-control chosen-select"
								tabindex="3" style="width: 100%">
								<option value="">全部</option>
							</select>
						</div>
					</div>
				</form>
				<div class="fixed-table-toolbar">
					<div class="columns pull-left">
						<button shiro:hasPermission="payment:contractApproval:add"
							type="button" class="btn  btn-primary" onclick="add()">
							<i class="fa fa-plus" aria-hidden="true"></i>新增
						</button>
						<button shiro:hasPermission="payment:contractApproval:batchRemove"
							type="button" class="btn  btn-danger" onclick="batchRemove()">
							<i class="fa fa-trash" aria-hidden="true"></i>批量删除
						</button>
						<button shiro:hasPermission="payment:contractApproval:dataImport"
							type="button" class="btn  btn-primary" name="excelinsertbtn">
							<i class="fa warning" aria-hidden="true"></i>导入
						</button>
						<button shiro:hasPermission="payment:contractApproval:export"
							type="button" class="btn  btn-danger" onclick="exportData()">
							<i class="fa fa-trash" aria-hidden="true"></i>导出
						</button>
						<a shiro:hasPermission="payment:contractApproval:batchRemove"
							type="button" class="btn btn-primary" onclick=""> <i
							class="fa" aria-hidden="true"></i>批量审批
						</a>
					</div>
					<div class="columns pull-right">
						<button type="button" class="btn btn-primary" onclick="reLoad()">
							<i class="fa fa-search" aria-hidden="true"></i>查询
						</button>
						<button type="button" class="btn btn-primary" onclick="resetPwd()">重置</button>
					</div>
				</div>
				<table id="exampleTable" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
	</div>
	<div shiro:hasPermission="payment:contractApproval:edit">
		<script type="text/javascript">
				s_edit_h = '';
			</script>
	</div>
	<div shiro:hasPermission="payment:contractApproval:remove">
		<script type="text/javascript">
				var s_remove_h = '';
			</script>
	</div>
	<div shiro:hasPermission="payment:contractApproval:resetPwd">
		<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/payment/contractApproval/contractApproval.js"></script>
	<script type="text/javascript" src="/js/province.js"></script>
</body>
</html>