<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
<link href="/css/layui.css" rel="stylesheet">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<ul id="myTab" class="nav nav-tabs">
							<li class="active"><a href="#baseInfo" data-toggle="tab">基本信息</a></li>
							<li><a href="#serviceSS" data-toggle="tab">售后服务</a></li>
							<li><a href="#information" data-toggle="tab">联系方式</a></li>
							<li><a href="#options" data-toggle="tab">提交选项</a></li>
						</ul>
						<form class="form-horizontal m-t" id="signupForm">
							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade in active" id="baseInfo">
								<input id="complaintId" name="complaintId" class="form-control" th:value="${complaintId}" type="hidden">
									<div class="form-group">
										<label class="col-sm-2 control-label">问题出现时间：<span class="mustin">*</label>
										<div class="col-sm-4">
											<div class="input-group date" id="complaintDate">
												<input class="form-control" type="text"
													name="complaintDate"> <span
													class="input-group-addon"> <span
													class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
										<label class="col-sm-2 control-label">投诉人姓名：<span class="mustin">*</label>
										<div class="col-sm-4">
											<input id="complaintName" name="complaintName"
												class="form-control" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">所在单位：<span class="mustin">*</label>
										<div class="col-sm-4">
											<input id="complaintCompany" name="complaintCompany"
												class="form-control" type="text">
										</div>
										<label class="col-sm-2 control-label">客户姓名：<span class="mustin">*</label>
										<div class="col-sm-4">
											<select data-placeholder="请选择" name="customerId"
												id="customerId" class="form-control chosen-select"
												tabindex="2" style="width: 100%">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">项目名称：<span class="mustin">*</label>
										<div class="col-sm-4">
											<select data-placeholder="请选择" name="projectId"
												id="projectId" class="form-control chosen-select"
												tabindex="2" style="width: 100%">
												<option value="">请选择</option>
											</select>
										</div>
										<label class="col-sm-2 control-label">使用产品：<span class="mustin">*</label>
										<div class="col-sm-4">
											<input id="complaintProduct" name="complaintProduct"
												class="form-control" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">反馈方式：<span class="mustin">*</label>
										<div class="col-sm-4">
											<select data-placeholder="请选择" name="complaintFeedbackType"
												id="complaintFeedbackType"
												class="form-control chosen-select" tabindex="2"
												style="width: 100%">
												<option value="">请选择</option>
											</select>
										</div>
										<label class="col-sm-2 control-label">反馈内容：<span class="mustin">*</label>
										<div class="col-sm-4">
											<input id="complaintProblem" name="complaintProblem"
												class="form-control" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">发送资料：</label>
										<div class="col-sm-4">
											<input id="complaintAttachmentCustomer"
												name="complaintAttachmentCustomer" class="form-control"
												type="text">
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="serviceSS">
									<div class="form-group">
										<label class="col-sm-2 control-label">服务类型：<span class="mustin">*</label>
										<div class="col-sm-4">
										<select data-placeholder="请选择" name="complaintAfterSaleType"
												id="complaintAfterSaleType" class="form-control chosen-select"
												tabindex="2" style="width: 100%">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">处理过程：<span class="mustin">*</label>
										<div class="col-sm-4">
											<input id="complaintExecutor" name="complaintExecutor"
												class="form-control" type="text">
										</div>
										<label class="col-sm-2 control-label">处理结果：<span class="mustin">*</label>
										<div class="col-sm-4">
											<input id="complaintResult" name="complaintResult"
												class="form-control" type="text">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">备注：</label>
										<div class="col-sm-10">
											<textarea id="complaintAfterSaleRemarks" name="complaintAfterSaleRemarks"
												class="form-control" rows="3"></textarea>
										</div>
									</div>
								</div>

								<div class="tab-pane fade" id="information">
									<div class="form-group">
										<div class="form-group">
											<label class="col-sm-2 control-label">邮箱：</label>
											<div class="col-sm-4">
												<input id="complaintMailbox" name="complaintMailbox"
												class="form-control" type="text">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">电话：<span class="mustin">*</label>
											<div class="col-sm-4">
												<input id="complaintPhoneNumber" name="complaintPhoneNumber"
												class="form-control" type="text">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-2 control-label">附件：</label>
											<div class="col-sm-4">
												<div class="file-manager">
													<button type="button" class="layui-btn" id="test1"
														style="width: 100%;">
														<i class="fa fa-cloud"></i>上传文件
													</button>
													<input id="complaintAttachment" name="complaintAttachment" type="hidden">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="options">
									<div class="form-group">
										<label class="col-sm-2 control-label">抄送人：</label>
										<div class="col-sm-4">
											<!-- 客户投诉信息表 处理人 -->
											<select data-placeholder="请选择" name="complaintOperator"
												id="complaintOperator" class="form-control chosen-select"
												tabindex="2" style="width: 100%">
												<option value="">请选择</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
							<div class="col-sm-4 col-sm-offset-8">
								<button type="button" id="lastBtn" disabled class="btn btn-primary" onclick="lastStep('myTab',4,'lastBtn','nextBtn')">上一页</button>
								&nbsp;
								<button type="button" id="nextBtn" class="btn btn-primary" onclick="nextStep('myTab',4,'lastBtn','nextBtn')">下一页</button>
								&nbsp;
								<button type="submit" class="btn btn-primary">提交</button>
								&nbsp;
								<button type="button" class="btn btn-primary" onclick="closeWin()">取消</button>
							</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/layui.js"></script>
	<script src="/js/vue.min.js"></script>
	<script src="/js/plugins/layer/layer.min.js"></script>
	<script type="text/javascript" src="/js/appjs/sales/recordComplaint/edit.js"></script>
</body>
</html>
