<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.common.dao.FieldDao">

	<select id="get" resultType="com.bootdo.common.domain.FieldDO">
		select `id`,`Field_Name`,`Belong_Category`,`Content`,`Table_Name` from custom_field where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.common.domain.FieldDO">
		select `id`,`Field_Name`,`Belong_Category`,`Content`,`Table_Name` from custom_field
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fieldName != null and fieldName != ''"> and Field_Name = #{fieldName} </if>
		  		  <if test="belongCategory != null and belongCategory != ''"> and Belong_Category = #{belongCategory} </if>
		  		  <if test="content != null and content != ''"> and Content = #{content} </if>
		  		  <if test="tableName != null and tableName != ''"> and Table_Name = #{tableName} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from custom_field
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="fieldName != null and fieldName != ''"> and Field_Name = #{fieldName} </if>
		  		  <if test="belongCategory != null and belongCategory != ''"> and Belong_Category = #{belongCategory} </if>
		  		  <if test="content != null and content != ''"> and Content = #{content} </if>
		  		  <if test="tableName != null and tableName != ''"> and Table_Name = #{tableName} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.common.domain.FieldDO" useGeneratedKeys="true" keyProperty="id">
		insert into custom_field
		(
			`Field_Name`, 
			`Belong_Category`, 
			`Content`
		)
		values
		(
			#{fieldName}, 
			#{belongCategory}, 
			#{content}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.common.domain.FieldDO">
		update custom_field 
		<set>
			<if test="fieldName != null">`Field_Name` = #{fieldName}, </if>
			<if test="belongCategory != null">`Belong_Category` = #{belongCategory}, </if>
			<if test="content != null">`Content` = #{content}, </if>
			<if test="tableName != null">`Table_Name` = #{tableName}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from custom_field where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from custom_field where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>