<!DOCTYPE html>
<html>

<meta charset="utf-8">
<head th:include="include :: header"></head>
<style type="text/css">
th {
	text-align: center; /** 设置水平方向居中 */
	vertical-align: middle /** 设置垂直方向居中 */
}
#sort{
	color:#4D4D4D;border:none;
	background-color:transparent;border:0
}

</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">

		<form id="companyCustomerform" name="companyCustomerform"
			th:action="@{/sales/companyCustomer/export}" method="get">
			<input type="hidden" name="province" /> <input type="hidden"
				name="city" /> <input type="hidden" name="area" /> <input
				type="hidden" name="customerName" /> <input type="hidden"
				name="customerId" /> <input type="hidden" name="customerSales" />
			<input type="hidden" name="customerLevel" />
		</form>

		<div class="row" style="border-radius: 10px;">
			<!--*************************************************** 左侧树节点 *************************************************** -->
			<div style="float: left; padding-top: 10px" class="col-sm-3">
				<div class="ibox ibox-body">
					<div class="ibox-title">
						<h5>海心信息</h5>
					</div>
					<div class="ibox-content">
						<div id="jstree"></div>
					</div>
				</div>
			</div>

			<div class="col-sm-9">
				<!-- 			中上热点客户，本月回款情况，本月计划回款 -->
				<div class="ibox ibox-body" style="padding-top: 1px">
					<ol style="list-style-type: none; padding: 0px">
						<!--***********************************热点客户*************************************************** -->
						<li
							style="float: left; list-style-type: none; margin: 5px; width: 32%; height: 30%">
							<div class="ibox-title">
								<h4 style="float: left;">热点客户</h4>
								<button
									shiro:hasPermission="sales:companyCustomer:oldCustomerMore"
									type="button" class="btn  btn-success btn-sm"
									onclick="oldCustomerMore()"
									style="width: 29%; height: 34px; float: right;">
									<i class="fa fa-search" aria-hidden="true"></i>旧客户
								</button>
								<button
									shiro:hasPermission="sales:companyCustomer:newCustomerMore"
									type="button" class="btn  btn-success btn-sm"
									onclick="newCustomerMore()"
									style="width: 29%; height: 34px; float: right; margin-right: 5px">
									<i class="fa fa-search" aria-hidden="true"></i>新客户
								</button>
								<div class="ibox-content" style="width: 100%; height: 165px">
									<table
										style="width: 100%; height: 128px; border: 1px solid #E7EAEC"
										class="table-hover table-bordered">
										<tr th:each="bo, iterStat : ${newCustomer}">
											<td align="center" valign="middle"><span class="STYLE1">新客户</span></td>
											<td width="50%" align="center" valign="middle"><a
												href="#"
												th:onclick="'javascript:examineCompanyCustomer(\''+${bo.customerId}+'\');'"
												th:text="${bo.customerName}"></a></td>
										</tr>

										<tr th:each="old, iterStat : ${oldCustomer}">
											<td align="center" valign="middle"><span class="STYLE1">旧客户</span></td>
											<td align="center" valign="middle"><a href="#"
												th:onclick="'javascript:examineCompanyCustomer(\''+${old.customerId}+'\');'"
												th:text="${old.customerName}"></a></td>
										</tr>
									</table>
								</div>
							</div>
						</li>
						<!--*************************************************** 本月回款情况 *************************************************** -->
						<li
							style="float: left; list-style-type: none; margin: 5px; width: 32%; height: 30%">
							<div class="ibox-title">
								<h4>本月回款情况</h4>
							</div>
							<div class="ibox-content" style="width: 100%; height: 165px;">
								<table class="table-hover table-bordered"
									style="width: 50%; height: 90px; float: left;">
									<tr style="text-align: center;">
										<th style="background-color: #EAEAEA">已回款企业数目</th>
									</tr>
									<tr th:each="bo, iterStat : ${receivedDO}">
										<td align="center"><a href="#"
											onclick="examineReimbursementEnterprise()"
											th:text="${bo.reimbursementNumber}"></a></td>
									</tr>
									<tr th:each="bo, iterStat : ${receivedDO}">
										<td align="center" valign="middle"
											th:text="${'总计'+bo.sumReceivedPrice} +元"> </td>
									</tr>
								</table>
								<table class="table-hover table-bordered"
									style="width: 50%; height: 90px; float: left;">
									<tr style="text-align: center;">
										<th style="background-color: #EAEAEA">未回款企业数目</th>
									</tr>
									<tr th:each="bo, iterStat : ${moneyNumber}">
										<td align="center"><a href="#"
											onclick="examineNonPaymentEnterprise()"
											th:text="${bo.number}"></a></td>
									</tr>
									<tr th:each="bo, iterStat : ${moneyNumber}">
										<td align="center" valign="middle"
											th:text="${'总计'+bo.money} +'元'"></td>
									</tr>
								</table>

							</div>

						</li>
						<!--*************************************************** 本月计划回款 *************************************************** -->
						<li
							style="float: left; list-style-type: none; margin: 5px; width: 32%; height: 30%">
							<div class="ibox-title">
								<h4>本月计划回款</h4>
							</div>
							<div class="ibox-content" style="width: 100%; height: 165px;">
								<table class="table-hover table-bordered"
									style="width: 50%; height: 90px; float: left;">
									<tr style="text-align: center;">
										<th style="background-color: #EAEAEA">本月计划回款客户数目</th>
									</tr>
									<tr th:each="bo, iterStat : ${planCunstomerNumber}">
										<td align="center"><a href="#"
											onclick="examineNumberPlannedReturns()"
											th:text="${bo.planNumber}"></a></td>
									</tr>
									<tr th:each="bo, iterStat : ${planCunstomerNumber}">
										<td align="center" valign="middle"
											th:text="${'总计'+bo.planMoney}+元"></td>
									</tr>
								</table>
								<table class="table-hover table-bordered"
									style="width: 50%; height: 90px; float: left;">
									<tr style="text-align: center;">
										<th style="background-color: #EAEAEA">实际回款客户数目</th>
									</tr>
									<tr th:each="bo, iterStat : ${receivedDO}">
										<td align="center"><a href="#"
											onclick="examineReimbursementEnterprise()"
											th:text="${bo.reimbursementNumber}"></a></td>
									</tr>
									<tr th:each="bo, iterStat : ${receivedDO}">
										<td align="center" valign="middle"
											th:text="${'总计'+bo.sumReceivedPrice}+元"></td>
									</tr>
								</table>
							</div>
						</li>
					</ol>
				</div>

				<!-- *************************************************** 下面列表***************************************************  -->
				<div class="ibox float-e-margins" style="padding-top: 10px">
					<hr
						style="height: 1px; border: none; border-top: 1px dashed black;">
					<form class="form-horizontal m-t" id="signupForm">
						<div class="form-group">
							<label class="col-sm-2 control-label">行政区划：</label>
							<div class="col-sm-4">
								<select data-placeholder="省" name="province" id="province"
									class="form-control chosen-select" tabindex="1"
									style="width: 100px">
								</select> <select data-placeholder="市" name="city" id="city"
									class="form-control chosen-select" tabindex="2"
									style="width: 100px">
								</select> <select data-placeholder="区" name="area" id="area"
									class="form-control chosen-select" tabindex="3"
									style="width: 100px">
								</select>
							</div>
							<label class="col-sm-2 control-label">企业名称：</label>
							<div class="col-sm-4">
								<input id="customerName" name="customerName"
									class="form-control" type="text">
							</div>

						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">企业客户编号：</label>
							<div class="col-sm-4">
								<input id="customerId" name="customerId" class="form-control"
									type="text">
							</div>
							<label class="col-sm-2 control-label">联系人姓名：</label>
							<div class="col-sm-4">
								<input id="contactName" name="contactName" class="form-control"
									type="text">
							</div>

						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">业务名称：</label>
							<div class="col-sm-4">
								<input id="businessName" name="businessName"
									class="form-control" type="text">
							</div>
							<label class="col-sm-2 control-label">项目信息：</label>
							<div class="col-sm-4">
								<input id="projectName" name="projectName" class="form-control"
									type="text">
							</div>

						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">销售负责人：</label>
							<div class="col-sm-4">
								<select data-placeholder="请选择" name="customerSales"
									id="customerSales" class="form-control chosen-select"
									tabindex="2" style="width: 100%">
									<option value="">请选择</option>
								</select>
							</div>
							<label class="col-sm-2 control-label">客户级别：</label>
							<div class="col-sm-4">
								<select data-placeholder="请选择" name="customerLevel"
									id="customerLevel" class="form-control chosen-select"
									tabindex="2" style="width: 100%">
									<option value="">请选择</option>
								</select>
							</div>
						</div>
						<div class="text-right form-group" style="padding-right: 15px">
							<button class="btn  btn-primary" onclick="reLoad()" type="button">
								<i class="fa fa-search" aria-hidden="true"></i>查询
							</button>
							<button type="reset" class="btn btn-primary">
								<i class="fa fa-reset" aria-hidden="true"></i>重置
							</button>
						</div>
					</form>
				</div>
				<hr style="height: 1px; border: none; border-top: 1px dashed black;">
				<div class="fixed-table-toolbar ">

					<div class="columns pull-left">
						<button shiro:hasPermission="sales:companyCustomer:add"
							type="button" class="btn  btn-primary" onclick="add()">
							<i class="fa fa-plus" aria-hidden="true"></i>添加
						</button>
						<button shiro:hasPermission="sales:companyCustomer:batchRemove"
							type="button" class="btn  btn-danger" onclick="batchRemove()">
							<i class="fa fa-trash" aria-hidden="true"></i>批量删除
						</button>

						<button shiro:hasPermission="sales:companyCustomer:import"
							type="button" class="btn  btn-primary" name="excelinsertbtn">
							<i class="fa fa-cloud-upload" aria-hidden="true"></i>导入
						</button>
						<button shiro:hasPermission="sales:companyCustomer:export"
							type="button" class="btn  btn-danger" onclick="exportData()">
							<i class="fa fa-cloud-download" aria-hidden="true"></i>导出
						</button>
						<!-- 						<a href="http://127.0.0.1:8020/HelloHBuilder/请款申请表.xlsx" download="xlsx">模板下载</a> -->
					</div>
				</div>
				<table id="exampleTable"
					class="table table-striped table-hover table-bordered "data-sort-name="Customer_ID"  data-mobile-responsive="true" >
				</table>
			</div>
		</div>
	</div>
	<!-- *************************************************** 导入按钮弹出框***************************************************  -->
	<div name="sales_company_customer_windows" class="modal fade"
		tabindex="-1" data-width="50%">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true"></button>
			<h4 class="modal-title">联系人信息导入</h4>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="form-group">
					<label class="col-sm-2 control-label">附件：</label>
					<div class="col-sm-4">
						<div class="file-manager">
							<button type="button" class="layui-btn" id="companyCustomertest"
								style="width: 100%;">
								<i class="fa fa-cloud"></i>上传文件
							</button>
							<input id="companyCustomerAttachment"
								name="companyCustomerAttachment" type="hidden">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" data-dismiss="" class="btn blue btn-sm"
				name="tab_excelinsertOkbtn">
				<i class="glyphicon glyphicon-saved"></i>导入
			</button>
			<button type="button" class="btn default btn-sm" data-dismiss="modal"
				name="tab_excelinsertQuitbtn">
				<i class="glyphicon glyphicon-remove"></i>取消
			</button>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = 'hidden';
			var s_remove_h = 'hidden';
			var s_resetPwd_h = 'hidden';
		</script>
	</div>
	<div shiro:hasPermission="sales:companyCustomer:edit">
		<script type="text/javascript">
			s_edit_h = '';
		</script>
	</div>
	<div shiro:hasPermission="sales:companyCustomer:batchRemove">
		<script type="text/javascript">
			var s_remove_h = '';
		</script>
	</div>
	<div shiro:hasPermission="sales:companyCustomer:resetPwd">
		<script type="text/javascript">
			var s_resetPwd_h = '';
		</script>
	</div>
	<!-- 	</div> -->
	<div th:include="include :: footer"></div>
	<script type="text/javascript"
		src="/js/appjs/sales/companyCustomer/companyCustomer.js"></script>
	<script type="text/javascript" src="/js/province.js"></script>
	<script type="text/javascript"
		src="/js/appjs/sales/companyCustomer/examineHotCustomers/newCustomerMore.js"></script>

</body>
</html>
