<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header">
<link href="/css/layui.css" rel="stylesheet">
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<!-- <input id="recordId" name="recordId" th:value="${record.recordId}"  type="hidden"> -->
						<input id="recordId" name="recordId" th:value="${recordId}" class="form-control" type="text" type="hidden">
						<div class="form-group">
								<label class="col-sm-3 control-label">客户名称：<span class="mustin">*</span></label>
								<div class="col-sm-9">
									<select data-placeholder="请选择" name="customerId" id="customerId"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%" disabled>	  
									</select>
								</div>	
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">业务名称：<span class="mustin">*</span></label>
								<div class="col-sm-9">
									<select data-placeholder="请选择" name="businessId" id="businessId"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%" disabled>	  
									</select>
								</div>	
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">项目名称：<span class="mustin">*</span></label>
								<div class="col-sm-9">
									<select data-placeholder="请选择" name="projectId" id="projectId"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%" disabled>	  
									</select>
								</div>	
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">行动主题：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<input id="recordName" name="recordName"  class="form-control" type="text" disabled>
								</div>
								<label class="col-sm-3 control-label">阶段：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<select data-placeholder="请选择" name="recordPhase" id="recordPhase"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%" disabled> 	  
									</select>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">执行人：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<select data-placeholder="请选择" name="recordExecutor" id="recordExecutor"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%"  disabled>  
									</select>
								</div>
								<label class="col-sm-3 control-label">执行状态：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<select data-placeholder="请选择" name="recordExecuteStatus" id="recordExecuteStatus"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%" disabled>	
									</select>
								</div>
							</div>
							<div class="form-group">
							<label class="col-sm-3 control-label">实际执行开始时间：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<div class="input-group date" id="recordBeginDate">
							            <input  class="form-control" type="text" name="recordBeginDate" disabled>
							            <span class="input-group-addon">
							               <span class="glyphicon glyphicon-calendar"></span>
							            </span>
							        </div>
								</div>
							<label class="col-sm-3 control-label">实际执行结束时间：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<div class="input-group date" id="recordEndDate">
							            <input  class="form-control" type="text" name="recordEndDate" disabled>
							            <span class="input-group-addon">
							               <span class="glyphicon glyphicon-calendar"></span>
							            </span>
							        </div>
								</div>	
							</div>
									
							<div class="form-group">	
								<label class="col-sm-3 control-label">销售机会：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<input id="recordSaleOpportunity" name="recordSaleOpportunity" class="form-control" type="text" disabled>
								</div>
								<label class="col-sm-3 control-label">实际费用：</label>
								<div class="col-sm-3">
									<input id="recordExpenseActual" name="recordExpenseActual"  class="form-control" type="text" disabled>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">费用类型：<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<select data-placeholder="请选择" name="recordExpenseCategory" id="recordExpenseCategory"
										 class="form-control chosen-select" tabindex="2"
										style="width: 100%" disabled>  
									</select>
								</div>
							</div>
							<div class="form-group">
							   <label class="col-sm-3 control-label">附件：</label>
							   <div class="col-sm-3">
							        <div class="file-manager">
								       <button type="button" class="layui-btn" id="test1" style="width: 100%;">
									       <i class="fa fa-cloud"></i>上传文件
								       </button>
									   <input id="recordAttachment" name="recordAttachment" type="hidden" disabled>
							        </div>
						        </div>			
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-9">
								<textarea id="recordRemarks" name="recordRemarks"  class="form-control" rows="5" disabled></textarea>								
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/sales/record/edit.js"></script>
	<script src="/js/layui.js"></script>
	<script src="/js/vue.min.js"></script>
	<script src="/js/plugins/layer/layer.min.js"></script>
</body>
</html>
