body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:793px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12541 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:38px;
  width:796px;
  height:793px;
}
#u12542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:388px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:796px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12543 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:38px;
  width:796px;
  height:33px;
}
#u12544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12545_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12545 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:46px;
  width:49px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12546 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12547 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:109px;
  width:89px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u12549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12549 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:110px;
  width:79px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u12551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12551 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:142px;
  width:75px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12552 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u12553 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:109px;
  width:162px;
  height:17px;
}
#u12553_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12554 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:281px;
  width:25px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u12556 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:281px;
  width:531px;
  height:66px;
}
#u12556_input {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:66px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12557_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12557 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:776px;
  width:64px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u12559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 0, 0, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12559 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:776px;
  width:64px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u12560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u12561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:2px;
}
#u12561 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:671px;
  width:791px;
  height:1px;
}
#u12562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:787px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u12563 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:42px;
  width:14px;
  height:14px;
}
#u12564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12566 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:686px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12567 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u12568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
}
#u12568 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:688px;
  width:1px;
  height:5px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
}
#u12570 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:688px;
  width:1px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u12571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-225deg);
  -moz-transform:rotate(-225deg);
  -ms-transform:rotate(-225deg);
  transform:rotate(-225deg);
  word-wrap:break-word;
  transform-origin:0.5px 8.5px;
  -ms-transform-origin:0.5px 8.5px;
  -moz-transform-origin:0.5px 8.5px;
  -webkit-transform-origin:0.5px 8.5px;
}
#u12572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12572 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:694px;
  width:5px;
  height:5px;
}
#u12573 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12574 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:689px;
  width:37px;
  height:15px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12576 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:722px;
  width:37px;
  height:15px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:792px;
  height:2px;
}
#u12578 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:757px;
  width:791px;
  height:1px;
}
#u12579 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:787px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12580 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:727px;
  width:18px;
  height:18px;
}
#u12581 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12583 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:723px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12584 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u12585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
}
#u12585 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:725px;
  width:1px;
  height:5px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
}
#u12587 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:725px;
  width:1px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u12588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-225deg);
  -moz-transform:rotate(-225deg);
  -ms-transform:rotate(-225deg);
  transform:rotate(-225deg);
  word-wrap:break-word;
  transform-origin:0.5px 8.5px;
  -ms-transform-origin:0.5px 8.5px;
  -moz-transform-origin:0.5px 8.5px;
  -webkit-transform-origin:0.5px 8.5px;
}
#u12589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12589 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:731px;
  width:5px;
  height:5px;
}
#u12590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12592 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:686px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12593 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u12594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
}
#u12594 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:688px;
  width:1px;
  height:5px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
}
#u12596 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:688px;
  width:1px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u12597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-225deg);
  -moz-transform:rotate(-225deg);
  -ms-transform:rotate(-225deg);
  transform:rotate(-225deg);
  word-wrap:break-word;
  transform-origin:0.5px 8.5px;
  -ms-transform-origin:0.5px 8.5px;
  -moz-transform-origin:0.5px 8.5px;
  -webkit-transform-origin:0.5px 8.5px;
}
#u12598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12598 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:694px;
  width:5px;
  height:5px;
}
#u12599 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12600 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12601 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:723px;
  width:70px;
  height:24px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u12602 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u12603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
}
#u12603 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:725px;
  width:1px;
  height:5px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12604 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:6px;
}
#u12605 {
  border-width:0px;
  position:absolute;
  left:371px;
  top:725px;
  width:1px;
  height:5px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u12606 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-6px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-225deg);
  -moz-transform:rotate(-225deg);
  -ms-transform:rotate(-225deg);
  transform:rotate(-225deg);
  word-wrap:break-word;
  transform-origin:0.5px 8.5px;
  -ms-transform-origin:0.5px 8.5px;
  -moz-transform-origin:0.5px 8.5px;
  -webkit-transform-origin:0.5px 8.5px;
}
#u12607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u12607 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:731px;
  width:5px;
  height:5px;
}
#u12608 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u12609 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:690px;
  width:18px;
  height:18px;
}
#u12610 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12611 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:109px;
  width:162px;
  height:17px;
}
#u12611_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#666666;
}
#u12611_input:disabled {
  color:grayText;
}
#u12612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12612 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:384px;
  width:319px;
  height:37px;
  text-align:left;
}
#u12613 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
#u12614 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:422px;
  width:317px;
  height:207px;
}
#u12614_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:207px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12615 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:421px;
  width:320px;
  height:208px;
}
#u12615_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:208px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12616 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:384px;
  width:322px;
  height:37px;
  text-align:left;
}
#u12617 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u12618 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:142px;
  width:162px;
  height:17px;
}
#u12618_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#666666;
}
#u12618_input:disabled {
  color:grayText;
}
#u12619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12619 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:176px;
  width:62px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u12621 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:176px;
  width:161px;
  height:76px;
}
#u12621_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12622 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:176px;
  width:62px;
  height:15px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u12623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u12624 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:176px;
  width:161px;
  height:76px;
}
#u12624_input {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:76px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12625 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:395px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u12626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#0000FF;
}
#u12627 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:395px;
  width:27px;
  height:16px;
  font-size:13px;
  text-decoration:underline;
  color:#0000FF;
}
#u12628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#0000FF;
}
#u12629 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:395px;
  width:27px;
  height:16px;
  font-size:13px;
  text-decoration:underline;
  color:#0000FF;
}
#u12630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12631 {
  border-width:0px;
  position:absolute;
  left:649px;
  top:395px;
  width:27px;
  height:16px;
  font-size:13px;
}
#u12632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#0000FF;
}
#u12633 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:395px;
  width:27px;
  height:16px;
  font-size:13px;
  text-decoration:underline;
  color:#0000FF;
}
#u12634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u12635_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-decoration:underline;
  color:#0000FF;
}
#u12635 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:395px;
  width:27px;
  height:16px;
  font-size:13px;
  text-decoration:underline;
  color:#0000FF;
}
#u12636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
