<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="purchasePlanId" name="purchasePlanId" th:value="${purchasePlanId}" class="form-control" type="hidden">
							<input id="tabNames" name="tabNames" th:value="${tabNames}" class="form-control" type="hidden">
							<div class="form-group">
								<div class="input-group input-inline-sm col-sm-4 col-md-offset-4">
									<input readonly id="title" name="title" th:value="${allocationPlanBean.name}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">单据编号:<span class="mustin">*</span></label>
								<div class="col-sm-4">
									<input readonly id="planNo" name="planNo" th:value="${allocationPlanBean.code}" class="form-control"
										style="width: 100%">
									</input>
								</div>
								<!-- <label class="col-sm-2 control-label">类型:<span class="mustin">*</span></label>
								<div class="col-sm-4">
									<select readonly data-placeholder="请选择" name="type" id="type"
										class="form-control chosen-select" tabindex="2"
										style="width: 100%">
										<option value="">全部</option>
									</select>
								</div> -->
							</div>
							<ul id="myTab" class="nav nav-tabs"></ul>
							<div id='myTabContent' class='tab-content bills'>
							</div>
							<div class="form-group">
								<label class="col-sm-1 control-label">编制人<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<input readonly id="authorUser" name="authorUser" th:value="${allocationPlanBean.authorUserName}" class="form-control" type="text">
								</div>

								<label class="col-sm-1 control-label">编制日期<span class="mustin">*</span></label>
								<div class="col-sm-3">
									<div class="columns pull-left nopadding" >
										<div class="input-group date" id="createDate">
											<input readonly id="create" class="form-control" type="text"
												   name="createDate" th:value="${#dates.format(allocationPlanBean.createDate,'yyyy-MM-dd')}" > <span
												class="input-group-addon"> <span
												class="glyphicon glyphicon-calendar"></span>
													</span>
										</div>
									</div>
								</div>

								<label class="col-sm-1 control-label">备注<span class="mustin">*</label>
								<div class="col-sm-3">
									<input readonly id="remark" name="remark" th:value="${allocationPlanBean.remark}" class="form-control" type="text">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<link rel="stylesheet" href="/css/plugins/jqgrid/ui.jqgrid.css" />
	<link rel="stylesheet" href="/css/plugins/jqgrid/redmond/jquery-ui-1.8.16.custom.css" />

	<script type="text/javascript" src="/js/plugins/jqgrid/i18n/grid.locale-cn.js"></script>
	<script type="text/javascript" src="/js/plugins/jqgrid/jquery.jqGrid.src.js"></script>
	<script type="text/javascript" src="/js/plugins/jqgrid/learun.js"></script>
	<script type="text/javascript" src="/js/appjs/material/allocationPlan/check.js">
	</script>
</body>
</html>
