<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.timesheet.dao.TimesheetDao">

	<select id="get" resultType="com.bootdo.timesheet.domain.TimesheetDO">
		select `TimeSheet_ID`,`Project_ID`,`Employee_ID`,`TimeSheet_Name`,`TimeSheet_Project_Cagegory`,`TimeSheet_Date`,`TimeSheet_PM`,`TimeSheet_Normal`,`TimeSheet_Overtime`,`TimeSheet_Approved`,`TimeSheet_Planned`,`TimeSheet_Plan`,`TimeSheet_Content`,`TimeSheet_Problem`,`TimeSheet_Assignment_ID`,`TimeSheet_Approval_Status`,`TimeSheet_Operate_Time` from timesheet where TimeSheet_ID = #{value}
	</select>

	<select id="list" resultType="com.bootdo.timesheet.domain.TimesheetDO">
		select `TimeSheet_ID`,
		a.`Project_ID`,b.Project_Name as Project_Name,
		`Employee_ID`,`TimeSheet_Name`,`TimeSheet_Project_Cagegory`,`TimeSheet_Date`,`TimeSheet_PM`,`TimeSheet_Normal`,`TimeSheet_Overtime`,`TimeSheet_Approved`,`TimeSheet_Planned`,`TimeSheet_Plan`,`TimeSheet_Content`,`TimeSheet_Problem`,`TimeSheet_Assignment_ID`,`TimeSheet_Approval_Status`,`TimeSheet_Operate_Time` 
		from timesheet a
		left join pre_sales_project b on a.`Project_ID`=b.`Project_ID`
        <where>  
		  		  <if test="timesheetId != null and timesheetId != ''"> and TimeSheet_ID = #{timesheetId} </if>
		  		  <if test="projectId != null and projectId != ''"> and a.Project_ID = #{projectId} </if>
		  		  <if test="employeeId != null and employeeId != ''"> and Employee_ID = #{employeeId} </if>
		  		  <if test="timesheetName != null and timesheetName != ''"> and TimeSheet_Name = #{timesheetName} </if>
		  		  <if test="timesheetProjectCagegory != null and timesheetProjectCagegory != ''"> and TimeSheet_Project_Cagegory = #{timesheetProjectCagegory} </if>
		  		  <if test="timesheetDate != null and timesheetDate != ''"> and TimeSheet_Date = #{timesheetDate} </if>
		  		  <if test="timesheetPm != null and timesheetPm != ''"> and TimeSheet_PM = #{timesheetPm} </if>
		  		  <if test="timesheetNormal != null and timesheetNormal != ''"> and TimeSheet_Normal = #{timesheetNormal} </if>
		  		  <if test="timesheetOvertime != null and timesheetOvertime != ''"> and TimeSheet_Overtime = #{timesheetOvertime} </if>
		  		  <if test="timesheetApproved != null and timesheetApproved != ''"> and TimeSheet_Approved = #{timesheetApproved} </if>
		  		  <if test="timesheetPlanned != null and timesheetPlanned != ''"> and TimeSheet_Planned = #{timesheetPlanned} </if>
		  		  <if test="timesheetPlan != null and timesheetPlan != ''"> and TimeSheet_Plan = #{timesheetPlan} </if>
		  		  <if test="timesheetContent != null and timesheetContent != ''"> and TimeSheet_Content = #{timesheetContent} </if>
		  		  <if test="timesheetProblem != null and timesheetProblem != ''"> and TimeSheet_Problem = #{timesheetProblem} </if>
		  		  <if test="timesheetAssignmentId != null and timesheetAssignmentId != ''"> and TimeSheet_Assignment_ID = #{timesheetAssignmentId} </if>
		  		  <if test="timesheetApprovalStatus != null and timesheetApprovalStatus != ''"> and TimeSheet_Approval_Status = #{timesheetApprovalStatus} </if>
		  		  <if test="timesheetOperateTime != null and timesheetOperateTime != ''"> and TimeSheet_Operate_Time = #{timesheetOperateTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by TimeSheet_ID desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from timesheet
		 <where>  
		  		  <if test="timesheetId != null and timesheetId != ''"> and TimeSheet_ID = #{timesheetId} </if>
		  		  <if test="projectId != null and projectId != ''"> and a.Project_ID = #{projectId} </if>
		  		  <if test="employeeId != null and employeeId != ''"> and Employee_ID = #{employeeId} </if>
		  		  <if test="timesheetName != null and timesheetName != ''"> and TimeSheet_Name = #{timesheetName} </if>
		  		  <if test="timesheetProjectCagegory != null and timesheetProjectCagegory != ''"> and TimeSheet_Project_Cagegory = #{timesheetProjectCagegory} </if>
		  		  <if test="timesheetDate != null and timesheetDate != ''"> and TimeSheet_Date = #{timesheetDate} </if>
		  		  <if test="timesheetPm != null and timesheetPm != ''"> and TimeSheet_PM = #{timesheetPm} </if>
		  		  <if test="timesheetNormal != null and timesheetNormal != ''"> and TimeSheet_Normal = #{timesheetNormal} </if>
		  		  <if test="timesheetOvertime != null and timesheetOvertime != ''"> and TimeSheet_Overtime = #{timesheetOvertime} </if>
		  		  <if test="timesheetApproved != null and timesheetApproved != ''"> and TimeSheet_Approved = #{timesheetApproved} </if>
		  		  <if test="timesheetPlanned != null and timesheetPlanned != ''"> and TimeSheet_Planned = #{timesheetPlanned} </if>
		  		  <if test="timesheetPlan != null and timesheetPlan != ''"> and TimeSheet_Plan = #{timesheetPlan} </if>
		  		  <if test="timesheetContent != null and timesheetContent != ''"> and TimeSheet_Content = #{timesheetContent} </if>
		  		  <if test="timesheetProblem != null and timesheetProblem != ''"> and TimeSheet_Problem = #{timesheetProblem} </if>
		  		  <if test="timesheetAssignmentId != null and timesheetAssignmentId != ''"> and TimeSheet_Assignment_ID = #{timesheetAssignmentId} </if>
		  		  <if test="timesheetApprovalStatus != null and timesheetApprovalStatus != ''"> and TimeSheet_Approval_Status = #{timesheetApprovalStatus} </if>
		  		  <if test="timesheetOperateTime != null and timesheetOperateTime != ''"> and TimeSheet_Operate_Time = #{timesheetOperateTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.timesheet.domain.TimesheetDO">
		insert into timesheet
		(
			`TimeSheet_ID`, 
			`Project_ID`, 
			`Employee_ID`, 
			`TimeSheet_Name`, 
			`TimeSheet_Project_Cagegory`, 
			`TimeSheet_Date`, 
			`TimeSheet_PM`, 
			`TimeSheet_Normal`, 
			`TimeSheet_Overtime`, 
			`TimeSheet_Approved`, 
			`TimeSheet_Planned`, 
			`TimeSheet_Plan`, 
			`TimeSheet_Content`, 
			`TimeSheet_Problem`, 
			`TimeSheet_Assignment_ID`, 
			`TimeSheet_Approval_Status`, 
			`TimeSheet_Operate_Time`
		)
		values
		(
			#{timesheetId}, 
			#{projectId}, 
			#{employeeId}, 
			#{timesheetName}, 
			#{timesheetProjectCagegory}, 
			#{timesheetDate}, 
			#{timesheetPm}, 
			#{timesheetNormal}, 
			#{timesheetOvertime}, 
			#{timesheetApproved}, 
			#{timesheetPlanned}, 
			#{timesheetPlan}, 
			#{timesheetContent}, 
			#{timesheetProblem}, 
			#{timesheetAssignmentId}, 
			#{timesheetApprovalStatus}, 
			#{timesheetOperateTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.timesheet.domain.TimesheetDO">
		update timesheet 
		<set>
			<if test="projectId != null">a.`Project_ID` = #{projectId}, </if>
			<if test="employeeId != null">`Employee_ID` = #{employeeId}, </if>
			<if test="timesheetName != null">`TimeSheet_Name` = #{timesheetName}, </if>
			<if test="timesheetProjectCagegory != null">`TimeSheet_Project_Cagegory` = #{timesheetProjectCagegory}, </if>
			<if test="timesheetDate != null">`TimeSheet_Date` = #{timesheetDate}, </if>
			<if test="timesheetPm != null">`TimeSheet_PM` = #{timesheetPm}, </if>
			<if test="timesheetNormal != null">`TimeSheet_Normal` = #{timesheetNormal}, </if>
			<if test="timesheetOvertime != null">`TimeSheet_Overtime` = #{timesheetOvertime}, </if>
			<if test="timesheetApproved != null">`TimeSheet_Approved` = #{timesheetApproved}, </if>
			<if test="timesheetPlanned != null">`TimeSheet_Planned` = #{timesheetPlanned}, </if>
			<if test="timesheetPlan != null">`TimeSheet_Plan` = #{timesheetPlan}, </if>
			<if test="timesheetContent != null">`TimeSheet_Content` = #{timesheetContent}, </if>
			<if test="timesheetProblem != null">`TimeSheet_Problem` = #{timesheetProblem}, </if>
			<if test="timesheetAssignmentId != null">`TimeSheet_Assignment_ID` = #{timesheetAssignmentId}, </if>
			<if test="timesheetApprovalStatus != null">`TimeSheet_Approval_Status` = #{timesheetApprovalStatus}, </if>
			<if test="timesheetOperateTime != null">`TimeSheet_Operate_Time` = #{timesheetOperateTime}</if>
		</set>
		where TimeSheet_ID = #{timesheetId}
	</update>
	
	<delete id="remove">
		delete from timesheet where TimeSheet_ID = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from timesheet where TimeSheet_ID in 
		<foreach item="timesheetId" collection="array" open="(" separator="," close=")">
			#{timesheetId}
		</foreach>
	</delete>

</mapper>