body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1958px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1308px;
  height:1148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13226 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:84px;
  width:1308px;
  height:1148px;
}
#u13227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:566px;
  width:1304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1308px;
  height:61px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13228 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:84px;
  width:1308px;
  height:61px;
}
#u13229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13230 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:103px;
  width:65px;
  height:21px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u13231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u13232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u13232 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:486px;
  width:650px;
  height:151px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u13233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
#u13234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:107px;
}
#u13234 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:466px;
  width:107px;
  height:107px;
}
#u13235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13236 {
  border-width:0px;
  position:absolute;
  left:955px;
  top:635px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
}
#u13236_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u13236_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:49px;
  width:618px;
  height:8px;
}
#u13236_seg2 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:41px;
  width:24px;
  height:24px;
}
#u13237 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u13238 {
  border-width:0px;
  position:absolute;
  left:1481px;
  top:93px;
  width:25px;
  height:25px;
}
#u13239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:121px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:36px;
  color:#FFFFFF;
}
#u13240 {
  border-width:0px;
  position:absolute;
  left:1570px;
  top:629px;
  width:388px;
  height:121px;
  font-size:36px;
  color:#FFFFFF;
}
#u13241 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:368px;
  word-wrap:break-word;
}
